// badge-type-1
.badge-type-1 {
  display: flex;
  flex-wrap: wrap;
  .badge {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0 7px 7px 0;
    padding: 0 20px 0 16px;
    color: #bbb;
    font-size: rem(13);
    line-height: 1.2;
    letter-spacing: -0.39px;
    border-radius: 15px;
    background-color: #2a2a2a;
    .del {
      position: absolute;
      top: 50%;
      right: 8px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background: url("../images/ico_close01.svg") no-repeat center center;
      opacity: 0;
    }

    &:hover {
      .del {
        opacity: 1;
      }
    }
  }
}