.chatbot {
  position: fixed;
  bottom: 71px;
  right: 60px;
  width: 370px;
  background-color: #202020;
  border-radius: 25px;
  box-shadow: 0px 3px 30px 0 rgba(0, 0, 0, 0.25);

  .signal {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 6px;
    background-color: #888;
    border-radius: 50%;
    &.online {
      background-color: #238d25;
    }
  }

  .help {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 0 0 21px;
    background: url("../images/ico_arrow_up01.svg") no-repeat 92% center;
    background-size: 16px auto;
    overflow: hidden;
    .thumb {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 20px;
      background-color: #999;
      overflow: hidden;
    }
    > p {
      display: flex;
      align-items: center;
      color: #999;
      font-size: rem(15);
      line-height: 1.2;
      letter-spacing: -0.3px;
    }
  }

  .chatbot-box {
    height: 0;
    overflow: hidden;
    .title-utill {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 14px 17px 14px;
      .title {
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
        color: #999;
        font-size:rem(15);
        font-weight:600;
        line-height:1.2;
      }
      .utll {
        display: flex;
        > a,
        > span > a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          font-size:rem(12);
          border-radius: 50%;
          transition: all .2s ease-in-out;
          &:hover,
          &.active {
            background-color: #2a2a2a;
          }

        }
        span + a {
          margin-left: 3px;
        }
        
        .setting {
          img {
            width: 14px;
          }
        }
        .close {
          img {
            width: 12px;
          }
        }

      }
    }

    .chatbot-list {
      height: 620px;
      padding: 20px 0;
      .nano-content {
        margin: 0 14px;
        border-top: 1px solid #333;
      }
      .bubble {
        position: relative;
        margin-top: 8px;
        > p {
          padding: 16px;
          color: #bbb;
          font-size: rem(14);
          line-height: 1.29;
          border-radius: 10px 10px 10px 0;
          box-shadow: 0px 3px 30px 0 rgba(0, 0, 0, 0.25);
          background-color: #303030;
          strong {
            color: #acddff;
          }
        }
        .date {
          position: absolute;
          top:-20px;
          left:16px;
          display: flex;
          align-items: center;
          height: 25px;
          padding: 0 8px;
          color: #202020;
          font-size: rem(12);
          letter-spacing: -0.24px;
          background-color: #ddd;
          border-radius: 5px;
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.3);
          opacity: 0;
          transition: all .3s ease-in-out;
        }

        &.me {
          text-align: right;
          > p {
            display: inline-block;
            color: #eee;
            background-color: $color-point-1;
            border-radius: 10px 10px 0 10px;
          }
          .date {
            left: auto;
            right: 16px;
          }
        }

        &:hover {
          .date {
            opacity: 1;
          }
        }
        
      }

      .bubble:not(.me) + .bubble.me,
      .bubble.me + .bubble:not(.me) {
          margin-top: 14px;
        }


      .chat-btngroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 7px;
      }

      .btn-chat-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 39px;
        margin-top: 10px;
        color: #999;
        font-size:rem(14);
        letter-spacing: -0.28px;
        border: 2px solid #444;
        border-radius: 5px;
      }
      .btn-chat-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        margin: 10px 0 0 6px;
        padding: 0 15px;
        color: #bbb;
        font-size:rem(14);
        letter-spacing: -0.28px;
        border: 2px solid #444;
        border-radius: 17.5px;
        &.active {
          color: #fff;
          border: none;
          background-color: $color-point-1;
        }
      }
    }
  }

  // active
  &.active {

    .help {
      height: 0;
    }

    .chatbot-box {
      height: 700px;
      padding: 24px 0 0 0;
    }

  }
}