// login-join
.login-join {
  padding: 84px 0 100px 0;
  &.complete {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 110px 0;
  }
}

.login-box {
  margin-top: 80px;
}

// sel-list
.sel-list-1 {
  li {
    margin: 10px 0;
    a {
      color: #777;
      font-size: rem(14);
      line-height: 1.2;
      letter-spacing: -0.42px;
    }
  }
}

// icon
.ico-naver01 {
  display: flex;
  align-items: center;
  color: #000;
  font-size: rem(13);
  line-height: 1.2;
  letter-spacing: -0.39px;
  img {
    width: 24px;
    margin-right: 8px;
  }
}

.product-box {
  margin-top: 80px;
  .image {
    position: relative;
    img {
      width: 100%;
      border-radius: 8px;
    }
    .dday {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      height: 34px;
      padding: 0 16px;
      color: #fff;
      font-size: rem(14);
      line-height: 1.2;
      letter-spacing: -0.42px;
      background-color: $color-point-1;
    }
  }
  .title {
    margin-top: 18px;
    color: #050c16;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.48px;
  }
  .text {
    margin-top: 5px;
    color: #555;
    font-size: rem(12);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.36px;
  }
  .badge {
    display: flex;
    align-items: center;
    margin-top: 8px;
    p {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 12px;
      color: #555;
      font-size: rem(12);
      line-height: 1.2;
      letter-spacing: -0.36px;
      border-radius: 4px;
      & + p {
        margin-left: 4px;
      }
      &.blog {
        color: #333;
        background-color: #f2f3f3;
      }
      &.point {
        color: $color-point-1;
        background-color: #e2ffef;
      }
    }
  }

  &.campaign-info {
    margin-top: 0;
    .title,
    .text,
    .badge {
      padding-left: 16px;
    }
  }
}

.campaign-detail-box {
  padding: 5px 16px 80px;
  strong {
    color: $color-point-1;
    font-weight: 400;
  }
  h3 {
    margin: 25px 0 12px;
    color: #000;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.42px;
    strong {
      font-weight: 500;
    }
  }
  p {
    color: #555;
    font-size: rem(12);
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: -0.36px;
    & + p {
      margin-top: 5px;
    }
  }
  .list-1 {
    > li {
      display: flex;
      margin-top: 5px;
      p {
        &:first-child {
          width: 95px;
        }
        &.date {
          margin-top: 0;
          color: #000033;
          font-weight: 400;
        }
      }
    }
  }
  .box {
    padding: 15px 12px;
    background-color: #fafafd;
    border-radius: 8px;
  }
}