.footer {
  margin: 0 -16px;
  padding: 40px 20px 80px 20px;
  background-color: #333;
  .foot-utill {
    display: flex;
    li {
      margin-right: 20px;
      a {
        color: #b3b3b3;
        font-size: rem(12);
        line-height: 1.2;
        letter-spacing: -0.36px;
      }
    }
  }
  .foot-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    p {
      margin-right: 10px;
      color: #888;
      font-size: rem(10);
      line-height: 1.6;
      letter-spacing: -0.3px;
    }
  }
}