// header
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 345px;
  padding: 54px 43px 0 26px;
  background-color: #111;
  z-index: 10;
  h1 {
    padding: 0 0 20px 23px;
    a {
      display: block;
      width: 175px;
      height: 33px;
      background :url("../images/logo_v5_1.png") no-repeat center center;
      background-size: 100% auto;
    }
  }

  .leng {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    padding: 0 5px;
    color:#eee;
    font-size:rem(13);
    font-weight: 300;
    line-height: 1.2;
    background-color:#b93e3e;
    border-radius: 50%;
  }

  .user-cash {
    position: relative;
    padding: 40px 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    p {
      color: #777;
      font-size:rem(16);
      line-height:1.2;
      letter-spacing: -0.48px;
      strong {
        color: #ccc;
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: -0.72px;
      }
      & + p {
        margin-top: 16px;
      }
    }
    .btn-charge {
      position: absolute;
      bottom:42px;
      right:10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 49px;
      height: 23px;
      color:#ccc;
      font-size:rem(14);
      font-weight:300;
      letter-spacing: -0.42px;
      background-color: #262626;
      border-radius: 5px;
    }
  }
}

// gnb
.gnb-list {
  padding-top: 20px;
  > li {
    > a {
      position: relative;
      display: flex;
      align-items: center;
      height: 66px;
      padding: 0 0 0 19px;
      color:#777;
      font-size: rem(16);
      font-weight: 500;
      border-radius: 15px;
      transition: all .2s ease-in-out;
      .ico {
        display: flex;
        align-items: center;
        justify-content: center;
        width:28px;
        height:28px;
        margin-right: 10px;
        background-color:#3b1210;
        img {
          width:16px;
          height:16px;
        }
      }
      .leng {
        position: absolute;
        top:50%;
        right:16px;
        margin-top: -9px;
      }

      &:hover,
      &.active {
        background-color: #191919;
      }

    }

    &.sub {
      > a {
        background-image: url("../images/ico_arrow_donw01.svg");
        background-position:92% center;
        background-repeat: no-repeat;
        background-size:8px auto;
      }
      > ul {
        display: none;
        padding:15px 0 15px 60px;
        li {
          padding: 10px 0;
          a {
            color:#777;
            font-size:rem(14);
            line-height: 1.2;
            letter-spacing: -0.14px;
            &:hover,
            &.active {
              color:#ccc;
            }
          }
        }
      }
    }
  }
}

.gnb-utill {
  position: absolute;
  left:30px;
  right:50px;
  bottom:40px;
  border-top: 1px solid #333;
  > .gnb-list {
    margin: 0 -7px 0 -4px;
  }
}