// list-type-1
.list-type-1 {
  li {
    a {
      position: relative;
      display: block;
      padding: 20px 25px;
      color:#777;
      font-size: rem(14);
      font-weight: 300;
      letter-spacing: -0.42px;
      line-height:1.2;
      transition: all .2s ease-in-out;
      .tit {
        color:#aaa;
        font-size: rem(16);
        font-weight: 400;
        letter-spacing: -0.48px;
      }
      .txt {
        margin-top: 8px;
      }
      .date {
        position: absolute;
        top: 20px;
        right:25px;
      }
      &:hover {
        box-shadow: 0px 20px 16px 0 rgba(0, 0, 0, 0.15);
        background-color: #2a2a2a;
        border-radius: 10px;
      }
    }
  }
}

// list-type-2
.list-type-2 {
  .head {
    display: flex;
    border-bottom: 1px solid #333;
    p {
      padding:0 10px 13px 12px;
      color: #777;
      font-size: rem(15);
      line-height: 1.2;
      letter-spacing: -0.45px;

      &.sel {
        width: 46px;
      }
    }
  }
  .body {
    height: 340px;
    ul {
      padding: 5px 0;
      li {
        padding: 7px 10px 5px 12px;
        .list-two {
          display: flex;
          align-items: center;
          .checkbox-1 {
            width: 46px;
            height: 16px;
          }
          .link-1 {
            flex: 1;
          }
        }
        .link-1 {
          position: relative;
          display: block;
          color: #999;
          font-size: rem(16);
          line-height: 1.2;
          letter-spacing: -0.48px;
          &:after {
            content: '';
            display: block;
            position: absolute;
            right:0;
            top:7px;
            width:12px;
            height:6px;
            background:url("../images/ico_arrow_up01.svg") no-repeat center center;
            background-size:12px;
            transform: rotate(90deg);
          }
          &:hover,
          &.active {
            color: #ccc;
          }
        }
      }
    }
  }
}

// number-list-1
.number-list-1 {
  margin: 30px -20px 0 -20px;
  padding: 24px 20px 0;
  border-top: 2px solid #444;
  .text-1 {
    margin-bottom: 10px;
    color: #aaa;
    font-size:rem(17);
    line-height:1.2;
    letter-spacing: -0.51px;
    strong {
      color: #ccc;
      font-weight: 500;
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -4px;
    padding: 0 0 0 0;
    li {
      margin: 8px 0 0 4px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 30px;
        color: #999;
        font-size: rem(15);
        line-height:1.2;
        letter-spacing: -0.45px;
        background-color: #2a2a2a;
        border-radius: 5px;
        &.active {
          color: #ccc;
          background-color: #333;
        }
      }
    }
  }
}

// number-list-2
.number-list-2 {  
  > ul {
    display: flex;
    margin: 0 0 0 -8px;
    padding: 0 0 0 0;
    li {
      margin: 8px 0 0 8px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        color: #999;
        font-size: rem(14);
        font-weight: 300;
        line-height:1.2;
        letter-spacing: -0.42px;
        border: 1px solid #444;
        border-radius: 5px;
        &.active {
          color: #fff;
          background-color: $color-point-1;
          border:none;
        }
      }
    }
  }
}

// price-list-1
.price-list-1 {
  color: #777;
  line-height:1.2;
  .tit {
    padding: 12px 23px;
    color: #aaa;
    font-size: rem(18);
    letter-spacing: -0.54px;
  }
  > ul {
    padding: 5px 23px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
      p {
        font-size: rem(15);
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 18%;
        }
        &:nth-child(3) {
          width: 16%;
        }
        &:nth-child(4) {
          flex: 1;
        }

        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
        
        strong {
          color: #ccc;
          font-weight: 500;
        }
      }

      &.subject {
        color: #999;
      }
    }
  }
}

.price-list-2 {
  .t-head {
    display: flex;
    width: 100%;
    padding: 10px 0 13px 0;
    border-bottom: 1px solid #555;
    p {
      color: #999;
      font-size: rem(14);
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: -0.28px;
    }
  }
  .t-body {
    padding: 6px 0 0 0;
    > div {
      display: flex;
      width: 100%;
      padding: 8px 0 7px 0;
      p {
        color: #999;
        font-size: rem(15);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -0.3px;
        strong {
          color: #ccc;
        }
      }
      &.line-1 {
        margin-top: 7px;
        padding-top: 15px;
        border-top: 1px solid #333;
      }
    }
  }

  // width
  .w-33 {
    width:33.3%;
  }
  .w-50 {
    width:50%;
  }
  .flex-1 {
    flex: 1;
  }

  // align
  .right {
    text-align: right;
  }
}

// check-drag-list-1
.check-drag-list-1 {
  margin: 0 -11px 0 0;
  
  .check {
    width: 22px;
    @include fontNone;
  }

  .t-head {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 19px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #555;
    .section,
    .date {
      color: #999;
      font-size: rem(14);
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: -0.28px;
    }
    .section {
      flex: 1;
      padding: 0 0 0 9px;
    }
  }
  .t-body {
    padding: 13px 0 0 0;
    > div {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 19px 0 0;
      .tit {
        flex: 1;
        display: flex;
        align-items: center;
        height: 28px;
        padding: 0 9px;
        color: #ccc;
        font-size: rem(15);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -0.3px;
        border-radius: 5px;
      }
      .drag {
        position: absolute;
        top:2px;
        right:0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 24px;
        border-radius: 3px;
        background: url("../images/ico_drag_list.svg") no-repeat center center;
        background-size: 8px auto;
        opacity: 0;
      }

      &:hover {
        .tit {
          background-color: #2a2a2a;
        }
        .drag {
          opacity: 0.6;
          &:hover {
            background-color: #2a2a2a;
            opacity: 1;
          }
        }
      }
    }
  }
}