// list-type-1
.list-type-1 {
  padding: 4px 0 0 0;
  li {
    margin-top: 16px;
    a {
      position: relative;
      display: flex;
      align-items: center;
      .image {
        img {
          width: 72px;
          height: 72px;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      .text-box {
        padding: 0 0 0 12px;
        .sns-leng {
          color:#333;
          font-size: rem(10);
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: -0.3px;
          .sns {
            margin-right: 4px;
            &.instagram {
              color: #8c05ff;
            }
            &.naver {
              color: $color-point-1;
            }
          }
        }
        .tit {
          margin-top: 5px;
          color:#000;
          font-size: rem(12);
          font-weight: 500;
          line-height: 1.17;
          letter-spacing: -0.36px;
        }
        .day {
          margin-top: 8px;
          color:#777;
          font-size: rem(10);
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}

// blogsubject-list
.blogsubject-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px -4px;
  li {
    width: calc(25% - 4px);
    margin: 4px 0 0 4px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      color: #777;
      font-size: rem(13);
      line-height: 1.2;
      letter-spacing: -0.39px;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      &.active {
        color: #fff;
        border-color: $color-point-1;
        background-color: $color-point-1;
      }
    }
  }
}

// point-list
.point-list-1 {
  box-shadow: 0px 2px 10px 0 rgba(84, 84, 97, 0.14);
  .list {
    padding: 20px 16px;
    background-color: #fff;
    li {
      display: flex;
      margin: 10px 0 9px;
      p {
        flex-shrink: 0;
        width: 70px;
        color: #999;
        font-size: rem(12);
        line-height: 1.2;
        letter-spacing: -0.36px;
        strong {
          color: #555;
        }
        &.flex-1 {
          flex: 1;
        }
      }
    }
  }
}