// drop-layer
[data-drop="true"] {
  position: relative;
}
.drop-layer-1 {
  display: none;
  position: absolute;
  top:28px;
  right:0;
  border-radius: 5px;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  z-index: 10;
  ul {
    padding: 6px 8px;
    a {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 0 0 10px;
      color: #777;
      font-size: rem(14);
      letter-spacing: -0.42px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      .ico {
        display: flex;
        align-items: center;
        width:14px;
        height: 14px;
        margin-right: 5px;
        img {
          width: 12px;
        }
      }
      &:hover {
        color:#aaa;
        background-color: #1f1f1f;
      }
    }
  }
}

// popup
.popup-bg {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000;
  opacity: 0.7;
  z-index: 19;
}
.popup {
  position: fixed;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
  width:450px;
  height: 0;
  padding: 0;
  box-shadow: 0px 3px 30px 0 rgba(0, 0, 0, 0.25);
  background-color: #202020;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  z-index: 20;
  transition: all .3s ease-in-out;
  &.active {
    top: 50%;
    height: auto;
    padding: 40px 20px 20px 28px;
    opacity: 1;
  }
  .pop-list-1 {
    li {
      display: flex;
      align-items: center;
      padding: 0 0 15px 0;
      p,
      a {
        font-size: rem(15);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -0.3px;
        &.subject {
          width: 90px;
          color: #999;
        }
        &.value {
          flex: 1;
          color: #ccc;
        }
      }
    }
    &.type-1 {
      padding-top: 20px;
      p,
      a {
        &.subject {
          width: 107px;
        }
      }
    }
  }
}
.pop-container {
  display: flex;
  .w-45 {
    width: 45%;
  }
  .w-55 {
    width: 55%;
  }
}