// popup
.popup-bg {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000;
  opacity: 0.4;
  z-index: 19;
}
.popup {
  position: fixed;
  top:80%;
  left:16px;
  right:16px;
  transform: translateY(-50%);
  max-width:468px;
  height: 0;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  opacity: 0;
  z-index: 20;
  transition: all .3s ease-in-out;
  &.active {
    top: 50%;
    height: auto;
    padding: 28px 20px 0 20px;
    opacity: 1;
  }
  .btn-box-2 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .pop-image {
    margin: -28px -20px 26px -20px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .today-cookie {
    position: absolute;
    bottom: -28px;
    left: 0;
    a {
      color: #fff;
      font-size: rem(14);
      line-height: 1.2;
      letter-spacing: -0.42px;
    }
  }
}
.pop-container {
  display: flex;
  .w-45 {
    width: 45%;
  }
  .w-55 {
    width: 55%;
  }
}