// tb-box
.tb-box-1 {
  width: 1105px;
  margin-top: 40px;
  border-radius: 15px;
  background-color: #1f1f1f;
  .nano {
    height: 672px;
    .nano-content {
      padding: 15px 38px;
    }
  }
}

// tb-data
.tb-data-1 {
  table {
    width:100%;
    text-align:left;
    th,
    td {
      height: 59px;
      padding:16px 10px 14px 12px;
      line-height:1.2;
      &.center {
        text-align: center;
        padding-left:0;
        padding-right:0;
      }
      &.right {
        text-align: right;
        padding-right: 16px;
      }

      .checkbox-1 {
        margin-top: 5px;
      }
    }
    th {
      color:#777;
      font-size: rem(14);
      letter-spacing: -0.42px;
      border-bottom:2px solid #333;
      [data-drop] {
        > a {
          display: inline-flex;
          align-items: center;
          height: 22px;
          padding: 0 10px 0 9px;
          color: #999;
          font-size: rem(14);
          border-radius: 5px;
          transition: all .2s ease-in-out;
          &.active {
            background-color: #292929;
          }
        }
      }
    }
    td {
      color:#999;
      font-size:rem(16);
      font-weight: 300;
      letter-spacing: -0.48px;
      border-top:2px solid #252525;
      .link-1 {
        position: relative;
        padding:0 16px 0 0;
        color: #aaa;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right:0;
          top:7px;
          width:12px;
          height:6px;
          background:url("../images/ico_arrow_up01.svg") no-repeat center center;
          background-size:12px;
          transform: rotate(90deg);
        }
      }
      .link-2 {
        display: block;
        color: #aaa;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right:4px;
          top:7px;
          width:10px;
          height:5px;
          background:url("../images/ico_arrow_donw01.svg") no-repeat center center;
          background-size:10px auto;
        }
      }
      .link-3 {
        color: #aaa;
      }
      .ranking {
        display: flex;
        > p {
          display: flex;
          align-items: center;
          justify-content: center;
          width:20px;
          height:20px;
          font-size: rem(15);
          font-weight:300;
          line-height:1.2;
          letter-spacing: -0.45px;
          &.type-1 {
            color:#798af3;
            background-color:#2c3150;
          }
          &.type-2 {
            color:#aaa;
            background-color:#2a2a2a;
          }
          &.type-3 {
            color:#999;
            border:1px solid #555;
          }
          & + p {
            margin-left: 4px;
          }
        }
      }
      .more-dot {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        img {
          width: 3px;
        }
        &.active {
          background-color: #292929;
        }
      }

      .td-faq {
        .question {
          color: #aaa;
        }
        .answer {
          display: none;
          padding-top: 5px;
          color: #999;
          font-size: rem(14);
          font-weight: 300;
          letter-spacing: -0.42px;
        }
      }

    }
    tr {
      &:first-child {
        td {
          border-top:none;
        }
      }
    }
  }
}

// tb-data-1
.tb-data-1 {
  width: 100%;
  color: #999;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.3px;
  text-align: left;
  th {
    padding: 15px 0 13px 0;
    font-size: rem(14);
    border-bottom: 1px solid #555;
  }
  td {
    padding: 10px 0 7px 0;
    font-size: rem(15);
    a {
      color: #999;
    }
  }
  .checkbox-1.only {
    padding-top: 2px;
    @include fontNone;
  }
}