<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->Lalavu</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
  
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <div class="skip-nav">
    <a href="#contents">본문 바로가기</a>
  </div>

  <!-- wrap -->
  <div id="wrap" class="<!--@@var wrapClass-->">
    <!-- header -->
    <header id="header">
      <h1><a href=""></a></h1>
      <div class="user-cash">
        <p>디어커스님의 잔여 캐쉬</p>
        <p>
          <strong>720,620</strong>
          캐쉬
        </p>
        <button type="button" effect="ripple" class="btn-charge">충전</button>
      </div>
      <nav>
        <ul class="gnb-list">
          <li class="sub">
            <a href="">
              <span class="ico">
                <img src="./images/ico_create01.svg" alt="">
              </span>
              캠페인 생성
            </a>
            <ul>
              <li><a href="" class="active">전략형 블로그 체험단</a></li>
              <li><a href="">전략형 카페 배포</a></li>
              <li><a href="">언론기사 송출</a></li>
            </ul>
          </li>
          <li>
            <a href="">
              <span class="ico">
                <img src="./images/ico_setting.svg" alt="">
              </span>
              캠페인 관리
            </a>
          </li>
          <li>
            <a href="">
              <span class="ico">
                <img src="./images/ico_mypage.svg" alt="">
              </span>
              마이페이지
            </a>
          </li>
          <li>
            <a href="">
              <span class="ico">
                <img src="./images/ico_tool.svg" alt="">
              </span>
              마케팅 도구
            </a>
          </li>
          <li>
            <a href="">
              <span class="ico">
                <img src="./images/ico_center.svg" alt="">
              </span>
              클라이언트 센터
            </a>
          </li>
        </ul>
      </nav>
      <div class="gnb-utill">
        <ul class="gnb-list">
          <li>
            <a href="" class="noti">
              <span class="ico">
                <img src="./images/ico_notification.svg" alt="">
              </span>
              알림
              <span class="leng">3</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="ico">
                <img src="./images/ico_logout.svg" alt="">
              </span>
              로그아웃
            </a>
          </li>
        </ul>
      </div>
      <!-- notification-box -->
      <div class="notification-box">
        <div class="title-del">
          <h2>
            알림
            <span class="leng">3</span>
          </h2>
          <a href="" class="del">모두 지우기</a>
        </div>
        <div class="notification-list nano">
          <div class="nano-content">
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
            <a href="" class="list">
              <p class="tit">섭외 지연 알림</p>
              <p class="txt">섭외 완료 예정일이 5월 14일로 변경되었습니다.</p>
              <p class="date">3분 전</p>
            </a>
          </div>
        </div>
      </div>
      <!-- //notification-box -->
    </header>
    <!-- //header -->

    <!-- contents -->
    <section id="contents">
      <!--@@placeholder = contents -->
    </section>
    <!-- //contents -->

    <!-- chatbot -->
    <aside class="chatbot">

      <a href="" class="help">
        <span class="thumb"></span>
        <p>
          <span class="signal online"></span>
          도움이 필요하신가요?
        </p>
      </a>
      
      <div class="chatbot-box">
        <div class="title-utill">
          <h2 class="title">
            <span class="signal online"></span> <!-- 오프라인일 경우 class명 삭제 -->
            드래그마우스
          </h2>
          <div class="utll">
            <span data-drop="true">
              <a href="" class="setting">
                <img src="./images/ico_setting.svg" alt="설정">
              </a>
              <div class="drop-layer-1" style="width:139px;">
                <ul>
                  <li><a href=""><span class="ico"><img src="./images/ico_info.svg" alt=""></span> 7일간 보지 않기</a></li>
                  <li><a href=""><span class="ico"><img src="./images/ico_trash.svg" alt=""></span> 삭제하기</a></li>
                </ul>
              </div>
            </span>
            <a href="" class="close">
              <img src="./images/ico_close01.svg" alt="닫기">
            </a>
          </div>
        </div>
        <div class="chatbot-list nano">
          <div class="nano-content">
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>
                <strong>설치가이드</strong>를 보고 따라하시면 채널톡 설치가 끝!
              </p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble">
              <p>
                자세한 내용은 가격안내 페이지에 소개되어 있습니다
                <button type="button" effect="ripple" class="btn-chat-1">가격안내 보러가기</button>
              </p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="chat-btngroup">
              <button type="button" effect="ripple" class="btn-chat-2">다른 결제 수단</button>
              <button type="button" effect="ripple" class="btn-chat-2 active">원고료(활동비) 지급 시 장점</button>
              <button type="button" effect="ripple" class="btn-chat-2">메인 키워드란?</button>
              <button type="button" effect="ripple" class="btn-chat-2">원고료(활동비) 얼마가 좋나요?</button>
            </div>
            <div class="bubble">
              <p>자체제작 홈페이지라면, 채널톡 설치 스크립트를 삽입만 하면 간단히 설치할 수 있어요</p>
              <span class="date">오후 4:26</span>
            </div>
            <div class="bubble me">
              <p>자체제작 홈페이지에요</p>
              <span class="date">오후 4:26</span>
            </div>
          </div>
        </div>
      </div>

    </aside>
    <!-- //chatbot -->

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/jquery-1.12.4.js"></script>
  <script src="./js/jquery.nanoscroller.min.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/ui_js.js"></script>

  <!--@@placeholder = script -->
</body>

</html>