<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title><!--@@var title-->랄라뷰</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- <link rel="alternate" href="http://" hreflang="ko" /> -->

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">

  <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
  
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <div id="defaultWrap" class="<!--@@var addClass-->">
    <!--@@placeholder = contents -->

    <footer class="footer">
      <ul class="foot-utill">
        <li><a href="">회사소개</a></li>
        <li><a href="">이용약관</a></li>
        <li><a href="">이용안내</a></li>
        <li><a href="">개인정보처리방침</a></li>
      </ul>
      <div class="foot-info">
        <p>상호명 : 주식회사 디어커스</p>
        <p>대표 : 정현민</p>
        <p>주소 : 서울특별시 마포구 동교로 12길 6 (장강빌딩) 3층</p>
        <p>사업자등록번호 : 306-81-37291</p>
      </div>
      <div class="foot-info">
        <p>통신판매업신고 : 제 2020-서울마포-0192호</p>
        <p>개인정보관리자 : 박세준</p>
        <p>CS : noah@dearcus.com</p>
      </div>
    </footer>
  </div>

  <!-- jquery cdn -->
  <script src="./js/jquery-1.12.4.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/ui_js.js"></script>

  <!--@@placeholder = script -->
</body>

</html>